// _cta.scss

.cta{
    margin-bottom: 10rem;
    background-color: $dark-color;

    h4{
        color: $light-color;
        margin-bottom: 0;

        @media #{$tablet} {
            text-align: center;     
            margin-bottom: 2rem;       
        }
    }

    .button{
        display: flex;
        justify-content: flex-end;
        
        @media #{$tablet} {
            justify-content: center;            
        }
    }
}