// _hero.scss

.hero{
    height: 80vh;
    width: 100%;
    padding-top: 10rem;
    border-bottom: 1px solid $dark-color;

    &__box{
        height: 100%;

        &__text{
            margin: 5rem 0;

            @media #{$phone} {
                margin: 5rem 0 0 0;                
            }
        }

        &__image{
            img{
                width: 100%;
                max-height: calc(80vh - 100px);
                height: 100%;
                object-fit: cover;
                object-position: top;
                border-left: 1px solid $dark-color;
                border-right: 1px solid $dark-color;
                border-bottom: 1px solid $dark-color;
            }
            @media #{$desktop} {
                display: none;                
            }
        }
    }

    &__contatti{
        a{
            color: $accent-secondary-color;
        }
    }
    &__progetti{
        margin-top: 5rem;
        justify-content: flex-end;

        p{
            display: flex;
            justify-content: center;
        }

        &__icon{
            display: flex;
            justify-content: center;

            iconify-icon{
                color: $accent-secondary-color;
                font-size: 4.8rem;
                transition: all 1s cubic-bezier(.215, .61, .355, 1);

                &:hover{
                    color: $light-color;
                    transform: scale(150%);
                }
            }
        }
        @media #{$desktop} {
            margin-top: 0rem;        
        }
        @media #{$tablet} {
            margin-top: 10rem;        
        }
    }

    @media #{$tablet} {
        height: auto;        
    }
}