// _hero.scss

.hero{
    height: 100vh;
    width: 100%;
    padding-top: 10rem;

    &__box{

        &__text{
            margin: 5rem 0;
        }
    }

    &__contatti{
        a{
            color: $accent-secondary-color;
        }
    }

    @media #{$tablet} {
        height: auto;        
    }
}