.servizi{
    padding-bottom: 2rem;
    border-bottom: 1px solid $dark-color;

    &__title{
        a{
            color: $light-grey-color;
            transition: all 1s cubic-bezier(.215, .61, .355, 1);

            iconify-icon{
                font-size: 6rem;
            }
            :hover{
                color: $accent-secondary-color;
            }
        }
    }
    
}