// _color.scss

$white-color: #fff;
$light-color: #f3f3f3;
$light-grey-color: #e1e1e1;

$light-dark-color: #212427;
$dark-color: #1b1b1b ;
$black-color: #000;

$accent-color: #ffee32;
$accent-secondary-color: #ba181b;
